.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.content {
    display: block;
    position: relative;
    padding-top: 60px;
}

.pit {
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #e11010;
    position: relative;
    transition: all 0.1s linear;
    display: table;
    font-size: 2rem;
}

.bigpit {
    background-color: #fff;
    border-radius: 50%;
    border: 6px solid #e11010;
    position: relative;
    transition: all 0.1s linear;
    display: table;
    font-size: 4rem;
}